version: 0.2

phases:
  install:
    commands:
      - echo "Installing kubectl and AWS CLI..."
      - curl -o kubectl https://amazon-eks.s3.us-west-2.amazonaws.com/1.29.0/2024-07-11/bin/linux/amd64/kubectl
      - chmod +x ./kubectl
      - mv ./kubectl /usr/local/bin/kubectl
      - echo "Installation finished"
  pre_build:
    commands:
      - echo "Configuring kubeconfig for EKS cluster..."
      - aws eks update-kubeconfig --region us-east-2 --name  brain-tasks-eks
  build:
    commands:
      - echo "Deploying application to EKS..."
      - chmod +x scripts/deploy.sh
      - ./scripts/deploy.sh
  post_build:
    commands:
      - echo "Deployment finished at $(date)"
