version: 0.2

phases:
  pre_build:
    commands: |
      echo "Logging in to Amazon ECR..."
      aws --version

      ACCOUNT_ID=613622767668
      REGION=us-east-2
      REPOSITORY_NAME=brain-tasks-app
      REPOSITORY_URI=$ACCOUNT_ID.dkr.ecr.$REGION.amazonaws.com/$REPOSITORY_NAME

      aws ecr get-login-password --region $REGION | \
        docker login --username AWS --password-stdin \
        $ACCOUNT_ID.dkr.ecr.$REGION.amazonaws.com
      echo "Set timezone"
       export TZ=Asia/Kolkata
      IMAGE_TAG=$(date +'%Y%m%d-%H%M')

  build:
    commands: |
      echo "Build started on $(date)"
      docker compose -f operation/Docker/docker-compose.yml build --no-cache
      docker tag $REPOSITORY_URI:latest $REPOSITORY_URI:$IMAGE_TAG

  post_build:
    commands: |
      echo "Pushing images..."
      docker push $REPOSITORY_URI:latest
      docker push $REPOSITORY_URI:$IMAGE_TAG
