version: 0.2

phases:
  install:
    commands:
      - echo "Installing kubectl and AWS CLI..."
      - chmod 755 operation/scripts/install_kube.sh
      - ./operation/scripts/install_kube.sh
      - echo "Installation finished"
  pre_build:
    commands:
      - echo "Configuring kubeconfig for EKS cluster..."
      - aws eks update-kubeconfig --region us-east-2 --name  brain-tasks-eks
  build:
    commands:
      - echo "Deploying application to EKS..."
      - chmod +x operation/scripts/compose.sh
      - ./operation/scripts/compose.sh -d
  post_build:
    commands:
      - echo "Deployment finished at $(date)"
