apiVersion: apps/v1
kind: Deployment
metadata:
  name: braintask
  labels:
    app: braintask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: braintask
  template:
    metadata:
      labels:
        app: braintask
    spec:
      containers:
        - name: braintask
          image: 613622767668.dkr.ecr.us-east-2.amazonaws.com/brain-tasks-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 5
